.filter-items:hover {
  color: white;
  transition: 0.5s ease;
  background-color: black;
}

.filter-items {
  border: 1px solid grey;
  padding: 7px;
  border-radius: 3px;
  margin-left: 6px;
  cursor: pointer;
}

.filters-ul {
  margin-left: 85px;
  padding: 10px;
}
